#main {
  margin-top: 60px;
  display: flex;
  min-height: 100vh;
  border-top: 1px solid #a3c8ee;

  #aside {
    width: 300px;
    background-color: #b9dafa;
    color: #fff;
    border-right: 1px solid #a3c8ee;
    padding: 20px;
    button {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      padding: 10px 20px;
      border-radius: 40px;
      color: #fff;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
        vertical-align: -2px;
      }
      &:hover {
        background-color: #a2cce9;
      }
    }
  }
  #contents {
    width: calc(100% - 300px);
    background-color: #c2defa;
    color: #fff;
    padding: 24px;
    h2 {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 800px) {
  #main {
    margin-top: 108px;
  }
}

// videos__inner
.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 24%;
    margin-bottom: 1%;
    background-color: #a3c8ee;
    padding: 10px;
    border-radius: 5px;

    > a {
      > img {
        border-radius: 5px;
      }
    }

    h3 {
      padding-top: 10px;
      line-height: 1.6;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 16px;
    }
  }
}

// media
@media (max-width: 1300px) {
  .videos__inner {
    > div {
      width: 32.666%;
    }
  }
}
@media (max-width: 1024px) {
  .videos__inner {
    > div {
      width: 49%;
      margin-bottom: 2%;
    }
  }
}
@media (max-width: 960px) {
  #main {
    flex-direction: column;

    #asdie {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #a3c8ee;

      button {
        display: inline-block;
        width: auto;
        padding: 3px;
        border-radius: 5px;
        margin: 5px;
        font-size: 14px;
      }
    }
    #contents {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .videos__inner {
    > div {
      width: 100%;
      margin-bottom: 4%;
    }
  }
}
// video__sub
.video__sub {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  .left {
    width: calc(100% - 330px);

    .play {
      width: 100%;
      background: #a3c8ee;
      position: relative;
      padding-bottom: 27.65%;
      border-radius: 20px;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
    .desc {
      padding: 10px 0;
      color: #fff;
      font-weight: 500;

      .channel {
      }
      > div {
        span {
          margin-bottom: 20px;
        }
      }
    }
    .description {
      background-color: #a3c8ee;
      padding: 10px;
      border-radius: 10px;
      text-align: justify;
      white-space: pre-line;
      line-height: 1.4;
      margin-top: 20px;
    }
  }
  .right {
    width: 300px;
    height: 600px;
    background-color: #a3c8ee;
    border-radius: 10px;
  }
}
